body {
    font-family: 'Arial', sans-serif;
    background: radial-gradient(#c8f2f0, #000000);
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 5px solid #0e345d;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgb(0, 0, 0);
}

.header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #2055db;
    margin-bottom: 20px;
}
    
.header h1 {
    display: inline-block;
    font-size: 3em;
    color: #3eb489;
    margin: 0;
}
.header .dehesa{
    color: #2a2a2b;
}

.header p {
    font-size: 1.7em;
    font-weight: bold;
    color: #0d4785;
    margin: 0;
}

.profile-pic {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    margin-top: 15px;
    border: 5px solid #3eb489;
}

.main-content {
    display: flex;
    justify-content: space-between;
}
.contact-info p a{
    text-decoration: none;
    color: #2055db;
}
.left-column, .right-column {
    width: 48%;
}

h2 {
    background-color: #3eb489;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

section {
    margin-bottom: 20px;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    padding: 5px 0;
    margin: 5px 0;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding-left: 10px;
}

section ul li:before {
    
    color: #3eb489;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
